body {
   background-color: #ffeedf;
   font-family: 'Space Grotesk', sans-serif;
}

.header {
    color: #1b47b2;
    width: 100%;
    height: 60px;
    position: relative;
}

.caption {
    font-size: 36px;
    font-weight: 900;
    padding-left: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menu {
    font-size: 36px;
    padding-right: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}

hr {
    color: #1b47b2;
    border: 0.5px solid;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    row-gap: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.card {
    max-width: 1000px;
    background-color: #1b47b2;
    text-align: left;
    padding: 0px 20px;
    margin: 40px;
}

.sub {
    background-color: #ffeedf;
    color: #1b47b2;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    position:relative;
    left: -45px;
    top: -25px;
}

.title {
    color: #ffeedf;
    border-bottom: solid #ffeedf;
    font-size: 36px;
    padding: 10px;
}

.text {
    color: #ffeedf;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.button {
    background-color: #ffeedf;
    color: #1b47b2;
    font-size: 14px;
    width: 120px;
    height: 50px;
    text-align: left;
    border-style: solid ;
    border-color: #1b47b2;
    position: relative;
    left: 75%;
    bottom: -10px;
}

.button:hover {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #ffeedf;
    background-color: #1b47b2;
    color: #ffeedf;
}

#arrow {
    color: #1b47b2;
    font-size: 24px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}

@media (max-width: 480px) {
    .caption {
      font-size: 16px;
    }
  }